.cell {
    width: 1em;
    height: 1em;
    border: 1px solid #ddd;
}
.grid{
    display: inline-flex;
}
.game{
    display: flex;
    justify-content: space-evenly;
}
.miss{
    background-color: black;
}